<body class="bg-grey">
    <div class="row margenesDivs" style="max-width:100%; min-height:85vh">
        <div class="col-8 paddingColIzq">
            <div class="parteizquierda1">
                {{#each publicaciones}}
                <div class="post1">
                    <a href="/post/{{id}}" class="not-active"><h2>{{Titulo}}</h2></a>
                    <h5>{{SubTitulo}}</h5>
                    <img src="{{Imagen}}">
                    <p>{{Descripcion}}</p>
                </div>
                <div class="paddingEndPost"></div>
                {{/each}}
            </div>
        </div>
        <div class="col-4 paddingColDer">
            <div class="partederecha1">
                <div class="post1">
                    <h2>About us</h2>
                    <img src="/images/FondoNoche.jpg" style="height:100px;">
                    <p>Email: AAAAA@HOTMAIL.COM</p>
                </div>
                <div class="paddingEndPost"></div>
                <div class="post1">
                    <h2>Post mas populares</h2>
                    <p></p>
                    <p><a href="index.html">Post numero 1</a></p>
                    <p><a href="index.html">Post numero 2</a></p>
                    <p><a href="index.html">Post numero 3</a></p>
                </div>
            </div>
        </div>
    </div>
    
    
</body>